%transition {
    transition: all .5s;
}

%font-primary {
    font-family: 'Forum', Verdana, sans-serif;
}

%font-additional {
    font-family: 'Inter', Verdana, sans-serif;
}

%padding-additional {
    padding: 20px 20px 40px 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}