.footer {
    background-color: $color-background;
    color: $color-light;
    padding: 20px 20px 0 20px;
    margin-top: 7px;

    @include media-tablet {
        margin-top: 2px;
    }
}

.footer-address {
    margin: 0;
    @include font ($size: 1.5rem, $height: 2.0rem, $letter: 0);
    width: 229px;
    padding-bottom: 18px;
}

.footer_link {
    text-decoration: none;
    color: $color-light;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: $color-primary;
        @extend %transition;
    }
}

.footer__list {
    margin: 0;
    display: flex;
    gap: 15px;
}

.footer__hours {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: end;

    >* {
        margin: 0;
        @include font ($size: 1.5rem, $height: 2.0rem, $letter: 0);
    }
}

.footer__school {
    display: flex;
    padding: 34px 0;
    justify-content: space-between;

    >* {
        margin: 0;
    }

    @media (max-width: 750px) {
        @include font ($size: 1.5rem, $height: 2.0rem, $letter: 0);
    }
}

.data {
    padding-right: 135px;

    @include media-tablet {
        padding-right: 75px;
    }
}