.carousel__buttons {
    width: 26px;
    height: 26px;
    padding: 5px;
    cursor: pointer;
}

.carousel_cirle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $color-text-dark;

    &.active {
        background-color: $color-primary;
    }

    &.disabled {
        opacity: 0.4;
    }
}

.carousel-mobile {
    display: none;

    @media (max-width: 1395px) {
        display: block;
    }
}

.form_radio input[type=radio] {
    width: 17px;
    height: 17px;
    accent-color: $color-text-dark;
    margin-left: 5px;
    cursor: pointer;
}

.form_radio label {
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 22px;
}

.form_radio input[type=radio]:checked+label {
    font-weight: bold;
}

.button {
    @extend %font-additional;
    @include font ($size: 1.0rem, $weight: 700, $letter: 0.1rem);
    width: 75px;
    height: 30px;
    background-color: $color-light;
    border: 1px solid $color-background;
    border-radius: 2px;
    cursor: pointer;

    &:hover:enabled {
        border: 1px solid $color-primary;
        background-color: $color-primary;
        @extend %transition;
    }

    &:disabled {
        border: 1px solid $color-primary;
        color: $color-primary;
        cursor: default;
    }
}

.card-button {
    font-size: 2.0rem;
    padding: 10px 40px;
    width: 246px;
    height: 44px;
    margin-top: 20px;
}