.icon-profile {
    margin-left: 40px;
    z-index: 20;
    cursor: pointer;

    &.active {
        z-index: 20;
    }

    @include media-tablet {
        padding: 0;
        width: 28px;
        height: 28px;
        margin-left: auto;

    }
}

.icon-authorization {
    display: none;
    width: 28px;
    height: 28px;
    background-color: $color-light;
    border-radius: 50%;
    z-index: 20;
    margin-left: 40px;
    cursor: pointer;

    &.active {
        z-index: 20;
    }
}

.first-letters {
    font-size: 15px;
    color: $color-primary;
    text-align: center;
    letter-spacing: 0;
    margin: -5px 0 0 1px;
}