.line {
    width: 50px;
    height: 1px;
    background-color: $color-background;
    margin: auto;
    margin-bottom: 40px;
}

.author-line {
    width: 60px;
    height: 1px;
    background-color: $color-primary;
}

.price-line {
    width: 100px;
    height: 1px;
    background-color: $color-primary;
}

.footer-line {
    height: 1px;
    background-color: $color-light;
    margin-top: 20px;
}

.line-profile {
    width: 40px;
    background-color: $color-primary;
    margin-bottom: 0;
}